<section>
  <div class="page-header">
    <h1>{{vm.arkadevent._id ? 'Edit Arkadevent' : 'New Arkadevent'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="arkadeventForm" class="form-horizontal" ng-submit="vm.save(arkadeventForm.$valid)" >
      <fieldset>
      All data can be changed at a later time. For example you may not want the reservation for an event to be open already at creation. Then don't check the box for open reservation for now but edit the event later when you want the reservation to open.

      Reminders: {{vm.reminders}}

      Reminders names: {{ vm.reminders.name}}

        <!-- Is foodserved -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="foodserved">Will food be served at the event?</label>
          <div class="checkbox col-sm-8" required>
            <label><input name="foodserved" type="checkbox" ng-model="vm.arkadevent.foodserved" value="true">Yes</label>
          </div>
        </div>

        <!-- Should event be public -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="public">Should event be public (shown to guests and users)?</label>
          <div class="checkbox col-sm-8" required>
            <label><input name="public" type="checkbox" ng-model="vm.arkadevent.public" value="true">Yes</label>
          </div>
        </div>

        <!-- Should reservation be open -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="reservationopen">Should reservation be open?</label>
          <div class="checkbox col-sm-8" required>
            <label><input name="public" type="checkbox" ng-model="vm.arkadevent.reservationopen" value="true">Yes</label>
          </div>
        </div>

        <!-- Input form questions -->
        <div class="form-group" ng-repeat="q in inputQuestions">
          <label class="control-label col-sm-3" for="{{ q.name }}">{{ q.question }}:</label>
          <div class="col-sm-8">
            <input name="{{ q.name }}" type="{{ q.type }}" ng-model="q.variable" id="{{ q.name }}" class="form-control" placeholder="{{ q.placeholder }}">
         </div>
          <div ng-messages="arkadeventForm.{{ q.name }}.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ q.question }} är obligatorisk.</p>
          </div>
        </div>

        <!-- Description -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="description">Description:</label>
          <div class="col-sm-8">
            <textarea class="form-control" ng-model="vm.arkadevent.description" row="10"></textarea>
         </div>
          <div ng-messages="arkadeventForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Beskrivning är obligatorisk.</p>
          </div>
        </div>

        <!-- Reminders -->
        <div class="form-group form-inline">
          <label for="selectreminders"> Reminders </label>
          <p>
          Pick the reminders you want and pick the time and day you want them sent.
          </p>
          <select class="form-control" name="selectreminders" id="selectreminders" ng-model="vm.application.reminders" ng-options='rem.name for rem in vm.reminders'>
          </select>
          <button type="button" class="btn btn-primary btn-sm" ng-click="selectReminder()" ng-class="{ disabled: !choiceOn}">Add reminder</button>
          <br />
          <br />
          <label ng-show="vm.reminders.length > 0">Chosen reminders</label>

          <p ng-show="chosenReminders.length ===0">You have not chosen any reminders. </p>

          <table class="table table-bordered table-condensed" ng-show="chosenReminders.length > 0">
            <tr class="active">
              <th style="width: 25%;">
                Reminder
              </th>
              <th>
                Date
              </th>
              <th style="width: 150px">
              Time
              </th>
              <th style="width: 5%;">
              </th>
            </tr>
            <tr class="active" ng-repeat="reminder in chosenReminders track by $index">
              <td>
                {{ reminder.name }}
              </td>
              <!-- Date -->
              <td>
                <div ng-show="!reminder.edit">
                  <pre>{{ reminder.date.getFullYear(); }}-{{ reminder.date.getMonth(); }}-{{ reminder.date.getDate(); }} </pre>
                </div>
                <div ng-show="reminder.edit">
                  <input name="date" type="date" ng-model="reminder.date" id="{{ q.name }}" class="form-control" placeholder="{{ q.placeholder }}">
                </div>
              </td>
              <!-- Time -->
              <td>
                <div ng-show="!reminder.edit">
                    <div class="col-sm-8">
                      <pre>{{ reminder.time.getHours(); }}:{{ reminder.getMinutes(); }} </pre>
                    </div>
                  </div>
                  <div ng-show="reminder.edit">
                    <div class="col-sm-8">
                      <input name="time" type="time" ng-model="reminder.time" id="{{ q.name }}" class="form-control" placeholder="{{ q.placeholder }}">
                    </div>
                  </div>
                </td>
              <!-- Controls -->
              <td style="white-space: nowrap">
                <div class="buttons" ng-show="reminder.edit">
                  <button type="button" class="btn btn-sm btn-primary" ng-click="reminder.edit = false"><i class="glyphicon glyphicon-ok"></i></button>
                  <button type="button" class="btn btn-sm btn-danger" ng-click="deleteReminder($index)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
                <div class="buttons" ng-show="!reminder.edit">
                  <button type="button" class="btn btn-primary" ng-click="c.edit = true;"><i class="glyphicon glyphicon-edit"></i></a>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <!-- Submit -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary col-sm-offset-2">{{vm.arkadevent._id ? 'Update' : 'Create'}}</button>
        </div>
        <!-- Error-msg -->
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
