<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Reservations</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div ng-show="filteredItems.length === 0">
    <div class="alert text-center alert-warning">
      No reservations have come in to this event.
    </div>
  </div>
  <div class="list-group reservations">
    <div ng-repeat="reservation in filteredItems" class="reservation list-group-item" ng-class='{ "list-group-item-success": reservation.showedup}'>
      <input type="checkbox" value="true" ng-model="reservation.edit" style="width: 20px; height: 35px;">
      <div class="info">
        <span class="list-group-item-heading">{{ reservation.name }}<span class="food" ng-if="reservation.time > vm.arkadevent.deadline">(SEN ANMÄLAN)</span></span>
        <br/>
        <span class="food" ng-bind="reservation.foodpref"></span>
        
      </div>
      <button class="btn btn-success" ng-click="checkReservation(reservation)" ng-show="reservation.edit && !reservation.showedup"> Check</button>
      <button class="btn btn-danger" ng-click="checkReservation(reservation)" ng-show="reservation.edit && reservation.showedup"> Remove</button>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </div>
  </div>
</section>
