<section>

  <div class="row arkadeventinfo">
    <div class="col-sm-5">
      <h1>{{ vm.arkadevent.name }}</h1> 
      <span class="tag"> {{ vm.arkadevent.location }} </span>
      <span class="tag"> {{ vm.arkadevent.date | date:"mediumDate" }} </span>
      <span class="tag"> {{ vm.arkadevent.starttime | date:"HH:mm" }} - {{ vm.arkadevent.endtime | date:"HH:mm" }} </span>
      <span class="tag"> {{ vm.arkadevent.language }} </span>
      <br />
      <br />
      <pre>
        {{ vm.arkadevent.description }}
      </pre>
      <p ng-if="vm.hasSeatsLeft" class="lead" >Spots left:<strong> {{ vm.spotsLeft }}</strong> </p>
      <p ng-if="!vm.hasSeatsLeft" class="lead" >Number of reserves to event:<strong> {{ -vm.spotsLeft }}</strong> </p>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <img src="{{ vm.arkadevent.photo }}">
    </div>
  </div>
  <hr>

  <div ng-if="vm.arkadevent.data.isRegistered">
    <div class="alert text-center alert-info">You have already registered to this event.
    </div>
    <button class="btn btn-lg btn-warning center-block" data-ui-sref="reservations.unregister({ arkadeventId: vm.arkadevent._id })">Unregister</button>
  </div>


  <div class="row" ng-if="!vm.arkadevent.data.isRegistered">
    <div class="col-md-6 col-md-offset-3">
      <h3 ng-if="vm.hasSeatsLeft && vm.arkadevent.reservationopen && !vm.tooLate">Boka en plats / Reserve a spot</h3>
      <h3 ng-if="!vm.hasSeatsLeft || !vm.arkadevent.reservationopen || vm.tooLate">Ansök om reservplats / Apply for a reserve-spot</h3>
      <form name="vm.form.reservationForm" class="form-horizontal" ng-submit="vm.save(vm.form.reservationForm.$valid)" novalidate>
        <fieldset>
          <!-- Name -->
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Namn / Namn</label>
            <input name="name" type="text" ng-model="vm.reservation.name" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.reservationForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Reservation name is required.</p>
            </div>
          </div>
          <!-- Program -->
          <div class="form-group" show-errors>
            <label class="control-label" for="program">Program / Education</label>
            <select class="form-control" name="program" ng-model="vm.reservation.program" ng-options="program for program in vm.programs" required>
              <option disabled></option>
            </select>
            <div ng-messages="vm.form.reservationForm.program.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Program is required.</p>
            </div>
          </div>
          <!-- Year -->
          <div class="form-group" show-errors>
            <label class="control-label" for="year">Årskurs / Year</label>
            <select name="year" class="form-control" ng-model="vm.reservation.year">
              <option> 1</option>
              <option> 2 </option>
              <option> 3 </option>
              <option> 4 </option>
              <option> 5 </option>
            </select>
            <div ng-messages="vm.form.reservationForm.year.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Reservation year is required.</p>
            </div>
          </div>
          <!-- Email -->
          <div class="form-group" show-errors>
            <label class="control-label" for="email">Epost / Email</label>
            <input name="email" type="text" ng-model="vm.reservation.email" id="name" class="form-control" required>
            <div ng-messages="vm.form.reservationForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Reservation email is required.</p>
            </div>
          </div>
          <!-- Phone -->
          <div class="form-group" show-errors>
            <label class="control-label" for="phone">Telefon / Phone</label>
            <input name="phone" type="text" ng-model="vm.reservation.phone" id="name" class="form-control" required>
            <div ng-messages="vm.form.reservationForm.phone.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Reservation phone is required.</p>
            </div>
          </div>
          <!-- Foodpref -->
          <!-- If user can choose foodpref -->
          <div ng-if="vm.hasSeatsLeft && vm.arkadevent.reservationopen && !vm.tooLate" class="form-group" show-errors>
            <label class="control-label" for="foodpref">Matpreferens / Food preference</label>
            <br />
            <!-- Choices -->
            <input type="checkbox" ng-model="laktos" /> Laktos
            <input type="checkbox" ng-model="vegetarian" /> Vegetarian
            <input type="checkbox" ng-model="vegan" /> Vegan
            <input type="checkbox" ng-model="gluten" /> Gluten
            <!-- Other -->
            <input name="foodpref" type="text" ng-model="other" id="other" placeholder="Other..." class="form-control">
          </div>
          <!-- If user can NOT choose foodpref because of reserv -->
          <div ng-if="!vm.hasSeatsLeft && vm.arkadevent.reservationopen && !vm.tooLate" class="form-group">
            <label class="control-label" for="foodpref">Matpreferens / Food preference</label>
            <p>
              Som reserv får du inte välja matpreferens, utan blir tilldelad den maten som den lediga platsen är bokad med.
            </p>
            <p>
              As reserve you may not choose food preference. You will get the food that was booked for the spot that is opened for you.
            </p>
          </div>
          <!-- If user can NOT choose foodpref because of too late -->
          <div ng-if="!vm.arkadevent.reservationopen || vm.tooLate" class="form-group">
            <label class="control-label" for="foodpref">Matpreferens / Food preference</label>
            <p>
              Det för nära inpå eventet för att vi ska kunna ta hänsyn till 
              din matpreferens. Du kommer att bli tilldelad den "vanliga" maten.
            </p>
            <p>
              It too close before the event for us ta have a possibility to take 
              your food preference in account. You will be served the standard food
            </p>
          </div>
          <!-- Submit -->
          <hr>
          <div ng-if="vm.hasSeatsLeft" class="form-group">
            <button type="submit" class="btn btn-primary center-block">{{vm.reservation._id ? 'Update' : 'Skicka bokning / Send Reservation'}}</button>
          </div>
          <div ng-if="!vm.hasSeatsLeft" class="form-group">
            <button type="submit" class="btn btn-warning center-block">{{vm.reservation._id ? 'Update' : 'Bli reserv / Become reserve'}}</button>
          </div>
          <!-- Error-msg -->
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row well" style="margin-top: 150px;">
    <p class="text-center">
      If you have any questions contact: <a href="mailto:event.arkad@tlth.se">
event.arkad@tlth.se</a>
    </p>
  </div>
</section>
