<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <h1>Events</h1>
    <p>
      Book a seat at our fab ARKAD-events!
      <br />
    <p>
    <button class="btn btn-warning btn-sm" ng-click="gotoSelected()">Read about the events</button>
  </div>
  <!-- HtmlDescription -->
  <div ng-bind-html="vm.frontpagehtml"></div>
  <!-- Events -->
  <div class="row eventgrid">
    <div class="events" >
        <div class="eventbox" ng-click="viewEvent(event)" data-ng-repeat="event in vm.events" >
          <div class="imgcontainer">
          <img data-ng-show="event.image" class="" ng-src="{{event.image}}" />
          </div>
          <span class="name">{{ event.name }}</span>
          <div class="info">
            <table>
              <tr>
                <td> Location / Plats  </td>
                <td> {{ event.location }} </td>
                <td> Date / Datum  </td>
                <td> {{ event.date }} </td>
              </tr>
              <tr>
                <td> Language / Språk  </td>
                <td> {{ event.language }} </td>
                <td> Time / Tid  </td>
                <td> {{ event.startTime }} - {{ event.endTime }} </td>
              </tr>
            </table>
            <hr />
            <pre>{{ event.description }}</pre>
            <span> {{ event.spotsLeft }} spots left.
            </span>
            <button class="btn btn-sm btn-primary pull-right" ng-show="event.hasSpotsLeft" ng-click="goToEvent()">Reserve a spot</button>
            <button class="btn btn-sm btn-primary pull-right" ng-show="!event.hasSpotsLeft" ng-click="reservlistToEvent()">Sign up to reservlist</button>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="vm.events.$resolved && !vm.events.length">
      No Events yet, why don't you <a data-ui-sref="events.create">create one</a>?
    </div>

  </div>
  <div class="well">
    <p class="text-center">
      If you have any questions contact: <a href="mailto:event.arkad@tlth.se">
event.arkad@tlth.se</a>
    </p>
  </div>
</section>
