<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <h1>Events</h1>
    <p>
      Book a seat at our fab ARKAD-events!
    <p>
  </div>
  <!-- HtmlDescription -->
  <div ng-bind-html="vm.frontpagehtml"></div>
  <!-- Events -->
  <div class="row eventgrid">
    <div class="events" >
        <div class="eventbox" ng-click="viewEvent(event)" data-ng-repeat="event in vm.events" ng-show="event.public || isAdmin">
          <div class="imgcontainer">
            <img data-ng-show="event.photo" class="" ng-src="{{event.photo}}" />
            <div class="registered" ng-show="event.data.isRegistered">You have applied to this event</div>
          </div>
          <span class="name">{{ event.name }} <span ng-show="!event.public">(private)</span></span>
          <div class="info">
            <span class="tag"> {{ event.location }} </span>
            <span class="tag"> {{ event.date | date:"mediumDate" }} </span>
            <span class="tag"> {{ event.starttime | date:"HH:mm" }} - {{ event.endtime | date:"HH:mm" }} </span>
            <span class="tag"> {{ event.language }} </span>
            <hr />
            <div ng-bind-html="event.description" class="eventtext">
            </div>
            <hr />
            <span> <!-- rm until later {{ event.seatsLeft }} spots left. -->
            </span>

            <button class="btn btn-sm btn-primary pull-right" data-ui-sref="reservations.create({ arkadeventId: event._id })">Go to event</button>
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <p class="text-center">
      If you have any questions contact: <a href="mailto:event.arkad@tlth.se">
event.arkad@tlth.se</a>
    </p>
  </div>
</section>
