<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <h1>Events</h1>
    <p>
      Book a seat at our fab ARKAD-events!
    <p>
  </div>
  <!-- HtmlDescription -->
  <div ng-bind-html="vm.frontpagehtml"></div>
  <!-- Events -->
  <div class="row eventgrid">
    <div class="events" >
        <div class="eventbox" ng-click="viewEvent(event)" data-ng-repeat="event in vm.events" ng-show="event.public || isAdmin">
          <div class="imgcontainer">
          <img data-ng-show="event.photo" class="" ng-src="{{event.photo}}" />
          </div>
          <span class="name">{{ event.name }} <span ng-show="!event.public">(private)</span></span>
          <div class="info">
            <span class="tag"> {{ event.location }} </span>
            <span class="tag"> {{ event.date | date:"mediumDate" }} </span>
            <span class="tag"> {{ event.starttime | date:"HH:mm" }} - {{ event.endtime | date:"HH:mm" }} </span>
            <span class="tag"> {{ event.language }} </span>
            <hr />
            <pre>{{ event.description }}</pre>
            <hr />
            <span> {{ event.seatsLeft }} spots left.
            </span>

            <div ng-if="event.data.isRegistered">
              <span>
                You have already registered to this event
              </span>
              <button class="btn btn-sm btn-warning pull-right" data-ui-sref="reservations.unregister({ arkadeventId: event._id })">Unregister</button>
            </div>
            <div ng-if="!event.data.isRegistered">
              <button class="btn btn-sm btn-warning pull-right" ng-show="!event.reservationopen || event.nrofseats <= event.seatstaken" data-ui-sref="reservations.create({ arkadeventId: event._id })">Event is full, apply to reservlist</button>
              <a class="btn btn-sm btn-primary pull-right" ng-show="event.reservationopen && event.seatstaken < event.nrofseats" data-ui-sref="reservations.create({ arkadeventId: event._id })">Reserve a spot</a>
              <a class="btn btn-sm btn-primary pull-right" ng-show="false && event.reservationopen" data-ui-sref="reservations.create({ arkadeventId: event._id })">Sign up to reservlist</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <p class="text-center">
      If you have any questions contact: <a href="mailto:event.arkad@tlth.se">
event.arkad@tlth.se</a>
    </p>
  </div>
</section>
