
.arkadeventinfo{
  
  .tag{
    background: rgba(230,230,230,0.8);
    border: none;
    transition: all 0.3s ease;
    padding: 5px 10px;

    &:hover{
      -ms-transform: scale(1.1, 1.1); 
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
  }

  img{
    max-width: 100%;
    max-height: 350px;
    display: block;
    margin: auto;
  }

}
pre{
  border-radius: 3px;
  padding: 10px 15px;
}


.reservations{

  .reservation{
    padding: 15px;

    button{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    input{
      vertical-align: top;
    }
    .info{
      display: inline-block;
    }
    span{
      font-size: 15px;
      margin-left: 10px;

      &.food{
        font-size: 11px;
      }
    }


  } 


}
