<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <style>
    pre{
      white-space: pre-wrap;       /* Since CSS 2.1 */
      background: transparent;
      padding: 0px;
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px
    }
  </style>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <pre> {{ content }} </pre>
  </body>
</html>
